@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

:root {
    --background-color: rgba(34, 40, 49, 1);
    --font-montserrat: 'Montserrat', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.typewriter { 
	text-align: center;
}

.wrapper {
    background-color: var(--background-color);
}

/* Header */
.header {
    display: flex;
    height: 100px;
    width: auto;
    margin: 0px 120px 0px 120px;
    align-items: center;
    justify-items: center;

}

/* Header > Logo */
.logo-container {
    flex: 1;
    height: 100%;
    padding: 0px 20px 0px 20px;
    width: 100%;
}

#logo {
    color: aqua;
    vertical-align: middle;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;

}

#logo h1 {
    padding-top: 25px;
}

/* Header > Nav */
.nav {
    flex: 5;
    text-align: center;
    text-transform: uppercase;

}

.nav li {
    display: inline-block;
    list-style-type: none;
}

.nav li a {
    display: block;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    color: aliceblue;
    font-family: var(--font-roboto);
}

.nav li a:hover {
    color: aqua;
}

.nav li a.active {
    color: aqua;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: aqua;
    -moz-text-decoration-color: aqua;
    text-decoration-thickness: 5px;
}

/* Header > MyCV */
.download-cv {
    flex: 2;
    text-align: center;
}

#btn-download-cv {
    padding: 10px 20px 10px 20px;
    border: 1px solid #00ff00;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #00ff00;
    color: white;
    width: 80%;
    font-weight: bold;
}

/* Main */
.main {
    background-color: rgb(27, 21, 51);
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}