@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

:root {
    --background-color: rgba(34, 40, 49, 1);
    --font-montserrat: 'Montserrat', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: var(--background-color);
}

/* Header */
.header {
    display: flex;
    height: 100px;
    width: auto;
    margin: 0px 120px 0px 120px;
    align-items: center;
    justify-items: center;
    
}

.logo-container {
    flex: 2;
    height: 100%;
    padding: 0px 20px 0px 20px;
}

#logo {
    color: aqua;
    font-size: 60px;
    line-height: 100px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav {
    flex: 5;
    text-align: center;
    
}

.nav li {
    display: inline-block;
    list-style-type: none;
}

.nav li a {
    display: block;
    text-decoration: none;
    padding: 20px;
    font-size: 25px;
    color: aliceblue;
    font-family: var(--font-roboto);
}

.download-cv {
    flex: 2;
    text-align: center;
}

#btn-download-cv{
    padding: 10px 20px 10px 20px;
    border: 1px solid #ff3300;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #ff3300;
    color: white;
    width: 80%;
}